@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500&display=swap');

:root {
    --dark-color: #171717;
    --light-dark-color: #292929;
    --yellow-color: #d4aa11;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

.wrapper {
    min-height: 100vh;
    background-color: var(--dark-color);
}

.wrapper .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.search-container {
    background-color: var(--dark-color);
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    padding: 1rem 0;
    border-bottom: 1px solid var(--light-dark-color);
}

.logo p {
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
}

.logo p span {
    color: var(--yellow-color);
}

.search-element {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
}

.movie-misc-info {
    list-style: none;
}

.movie-misc-info li {
    margin-bottom: 5px;
}
